
<h1 class="background-title span7"><%= t("listing.videos")  %></h1>
<%= link_to t("title.new_video"), new_video_path if current_user.present? %>

  <% @videos.each do |t|%>


  <div class="box_container">
    <div class="name">
      <%= link_to t.title,video_url(t.id) %>
    </div>
    <div class="favourites">
    <%#= link_to "add to favourites",add_favourite_path(t.class,t.id), :remote => true %>
   <%#= favourite_button(t) if current_user.present? %>
    
    </div>
    <div class="image">

      *Pending: Lightbox con player de video
     

      <%#= link_to(image_tag(video.image),photo_url(t.id))  if t.image.present? %>

    </div>
   <div style="background-color: #E89BB6">

      <%= t.tag_list {|t| t} %>
   </div>

  </div>
  
  
<% end %>


